{% extends 'store/base.html' %}
{% block title %} Registro| {% endblock %}


{% block content %}
<div class="row p-4">
    <div class="col-6 bg-light p-4"></div>
    <h4 class="mb-6 text-center">Registro</h4>
    <hr>
    <form action="."method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <h6>Username:</h6>
            {{form.username}}
            </div>
            <div> <div class="form-floating mb-3">
                <h6>Email:</h6>
                {{form.Email}}
                </div>
               <div class="form-floating mb-3">
                <h6>Password:</h6>
                {{form.Password}}
               </div>
               <div class="form-floating mb-3">
                <h6>Repite Password:</h6>
                {{form.Password2}}
               </div>

               {% if form.errors of form.non_field_errors%}
               <div class="mb-4 p-6 bg-danger">
                {%for field in form%}
                fields.errors
                {% endblock %}
                {{ form.non_field_errors }}




               </div>
               {% endif %}
               
</div>
{% endblock %}